@font-face {
    font-family: 'ferarrifont';
    src: url(ferrarifont/FerroRosso.ttf);
}

p {
    margin:0;
    color:blue;

}
h1{
    font-family: 'ferarrifont';
    color: black;
}
    .Fred {
        color:#ff2800;
    }
    .Svart {
    color: black;
}



header {
    background-color: #ff2800 ;
    color: ;
    grid-area:header;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items:center;
   
    }
nav{
    background-color:black;
    grid-area:nav;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items:center;
    border-radius: 5px;
}
aside{
     background-color: darkred;
     color: white;
     grid-area:aside;
     padding: 5px;
     
    }
article {
     color: white;
     grid-area:article;
     display:flex;
     flex-flow: row wrap;
     align-items: center;
     padding: 5px;
     background-image: url(ferrari.jpeg);
     
    }
footer {
    background-color: black;
    color: white;
    border-radius: 5px;
    grid-area:footer;
    padding: 5px;
}
.meny{
    text-decoration: none;
    color: white;
    font-family: 'ferarrifont';
    font-size: 20px;
}

main{
    position: absolute;
    display: grid;
    grid-template-rows: 15% 5% 70% 10%;
    grid-template-columns: 30% 70%;

    grid-template-areas:
    'header header'
    'nav nav'
    'aside article'
    'footer footer';
    grid-row-gap: 5px;
    width:97.5%;
    top: 1.25%;
    height:97.5%;
    left: 1.25%;
    
}